div div {
    float: left;
}
#main {
    /* width: max-content; */
    --BGVarColor:#333366;
    padding: 2%;
}
.code {
    font-size: 24px;
    min-height: 900px;
    min-width: 600px;
    text-align: left;
    border-style: solid;
    padding: 15px;
    background-color: #f6e1e1;
    border: #ff9d76;
    border-style: solid;
    border-width: 7px;
}
p {
    font-size: 80px;
}
.square {
    height: 240px;
    width: 240px;
    border-color: black;
    border-width: 3px;
    border-style: solid;
    display:inline-block;
    text-align: center;
}
#board{
    padding: 20px;
}
#topLeft {
    border-top-color: var(--BGVarColor);
    border-left-color: var(--BGVarColor);
}
#topMid {
    border-top-color: var(--BGVarColor);
}
#topRight {
    border-top-color: var(--BGVarColor);
    border-right-color: var(--BGVarColor);
}
#midLeft {
    border-left-color: var(--BGVarColor);
}
#midRight {
    border-right-color: var(--BGVarColor);
}
#botLeft {
    border-bottom-color: var(--BGVarColor);
    border-left-color: var(--BGVarColor);
}
#botMid {
    border-bottom-color: var(--BGVarColor);
}
#botRight {
    border-bottom-color: var(--BGVarColor);
    border-right-color: var(--BGVarColor);
}