
body {
    text-align: center;
    background-color:#333366;
    color:#EB4D55;
    font-size: 42px;
}
#gameTitle {
    color:#EB4D55;
    background-color: #f6e1e1;
    margin-left: 25%;
    margin-right:25%;
    border: #ff9d76;
    border-style: solid;
    border-width: 10px;
}
input {
    height: 5%;
    padding: 1.1% 6%;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color:black;
    border:none;
    margin: 2%;
    margin-right: 0px;
    border-radius: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.fileAccepter {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.FALabel{
    background-color: #ffffff;
    font-size: 18px;
    padding: 1%;
    margin: 1%;
    border-radius:5px;
    display: inline-block;
    cursor: pointer;
}
#gameSquare {
    padding-top: 30px;
    margin-top:2%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 1%;
    background-color: #f6e1e1;
    border: #ff9d76;
    border-radius: 20px;
    border-style: solid;
    border-width: 10px;
    border-bottom-color: #333366;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
hr {
    height: 5px;
    background-color: #ff9d76;
}
.dataButton {
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    margin:20px;
    background-color: #EB4D55;
    color: #f6e1e1;

}