
body {
    text-align: center;
    background-color: black;
    font-size: 42px;
}
#gameTitle {
    color:aquamarine;
}
input {
    height: 7%;
    padding: 2% 2%;
    color:black;
    border:none;
    margin: 2%;
    border-radius: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#gameSquare {
    padding: 30px;
    margin: 30%;
    margin-top:10%;
    background-color: gray;
}
hr {
    margin:45;
}
.square {
    height: 40px;
    float: left;
    
}